

.pursuit-section {
  
  padding: 20px; /* Reduce padding for smaller screens */
  margin: 0 auto; /* Center align the section horizontally */
  max-width: 600px; /* Set the maximum width */
}

.p-head {
  font-size: 30px;
  margin-bottom: 20px;
  color: black;
  text-align: left;
  font-weight: bold; /* Corrected the font-weight property */
}

.p-2 {
  font-size: 16px; /* Adjust font size for readability on smaller screens */
  margin-bottom: 20px;
  color: black;
  text-align: left;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .pursuit-section {
    padding: 10px; /* Further reduce padding for smaller screens */
    max-width: 100%; /* Allow the section to take full width on smaller screens */
  }

  .p-head {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .p-2 {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}


.text-part{
  text-align: left;
}